.twa {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 0.1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em;
}

.twa-lg {
  height: 1.33em;
  width: 1.33em;
  margin: 0 0.266em 0 0.133em;
  vertical-align: -0.133em;
  background-size: 1.33em 1.33em;
}

.twa-2x {
  height: 2em;
  width: 2em;
  margin: 0 0 0.2em;
  vertical-align: -0.2em;
  background-size: 2em 2em;
}

.twa-3x {
  height: 3em;
  width: 3em;
  margin: 0 0 0.3em;
  vertical-align: -0.3em;
  background-size: 3em 3em;
}

.twa-4x {
  height: 4em;
  width: 4em;
  margin: 0 0.4em;
  vertical-align: -0.4em;
  background-size: 4em 4em;
}

.twa-5x {
  height: 5em;
  width: 5em;
  margin: 0 0.5em;
  vertical-align: -0.5em;
  background-size: 5em 5em;
}

.twa-hourglass-not-done {
  background-image: url('https://twemoji.maxcdn.com/v/latest/svg/23f3.svg');
}

.twa-calendar {
  background-image: url('https://twemoji.maxcdn.com/v/latest/svg/1f4c5.svg');
}

.twa-cross-mark {
  background-image: url('https://twemoji.maxcdn.com/v/latest/svg/274c.svg');
}

.twa-chart-increasing {
  background-image: url('https://twemoji.maxcdn.com/v/latest/svg/1f4c8.svg');
}

.twa-necktie {
  background-image: url('https://twemoji.maxcdn.com/v/latest/svg/1f454.svg');
}

.twa-pager {
  background-image: url('https://twemoji.maxcdn.com/v/latest/svg/1f4df.svg');
}

.twa-laptop {
  background-image: url('https://twemoji.maxcdn.com/v/latest/svg/1f4bb.svg');
}

.twa-martial-arts-uniform {
  background-image: url('https://twemoji.maxcdn.com/v/latest/svg/1f94b.svg');
}

.twa-people-wrestling {
  background-image: url('https://twemoji.maxcdn.com/v/latest/svg/1f93c.svg');
}
